{% if site.facebook_facepile_href %}
<section class="panel panel-default">
    <h3>Piling On Facebook</h3>
    <div class="fb-facepile"
        data-href="{{ site.facebook_facepile_href }}"
        data-action='{{ site.facebook_facepile_action }}"
        data-width="{{ site.facebook_facepile_width }}"
        data-height="{{ site.facebook_facepile_height }}"
        data-colorscheme="{{ site.facebook_facepile_colorscheme }}"
        data-size="{{ site.facebook_facepile_size }}"
        data-show-count="{{ site.facebook_facepile_show_count }}">
    </div>
</section>
{% endif %}
