<div class="meta text-muted">
  <div class="octopress-authorbox row-fluid center-block">
    <div class="author-about col-md-12">
      <div class="col-md-5">
        {{ author.name }}<br>
        {% if author.twitter %}
          <a href="http://twitter.com/{{ author.twitter}}">@{{ author.twitter }}</a>
        {% endif %}
      </div>
      <div class="col-md-2">
        <img src="{{ gravatar }}" alt="{{ author.name }}" />
      </div>
      <div class="col-md-5 text-right"> 
        {{ author.description }}<br>
        {% if author.blog %}
          <a href="{{ author.blog }}">{{ author.blog }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
