---
layout: default
navbar: Blog
single: true
---

<div class="page-content {% unless page.sidebar == false or site.post_asides == empty and site.default_asides == empty %}col-md-9{% else %}col-md-12{% endunless %}">
  <div class="row-fluid">
    <article class="hentry" role="article">
      {% include article.html %}
      <div class="row-fluid">
        <footer>
          <div class="row-fluid" style="padding-top: 10px;">
            <div class="col-md-2" style="bottom: 3px;">
              {% unless page.sharing == false %}
                {% include post/sharing.html %}
              {% endunless %}
            </div>
            <div class="col-md-10">
              <p class="meta text-muted text-right">
                {% include post/author.html %}
                {% include post/date.html %}
                {% if updated %}
                  {{ updated }}
                {% else %}
                  {{ time }}
                {% endif %}
                {% include post/categories.html %}
              </p>
            </div>
          </div>
          <div class="row-fluid">
            {% if page.previous.url or page.next.url %}
              <ul class="meta text-muted pager">
                {% if page.previous.url %}
                  <li class="previous">
                    <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
                  </li>
                {% endif %}
                {% if page.next.url %}
                  <li class="next">
                    <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
        </footer>
      </div>
    </article>
    {% if site.disqus_short_name and page.comments == true %}
      <section>
        <h1>Comments</h1>
        <div id="disqus_thread" aria-live="polite">
          {% include post/disqus_thread.html %}
        </div>
      </section>
    {% endif %}
  </div>
</div>

{% unless page.sidebar == false or site.post_asides == empty and site.default_asides == empty %}
  <aside class="sidebar col-md-3">
    {% if site.post_asides.size %}
      {% include_array post_asides %}
    {% else %}
      {% include_array default_asides %}
    {% endif %}
  </aside>
{% endunless %}
