<link rel="stylesheet" href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/slate/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="{{ root_url }}/assets/bootplus/css/bootplus-responsive.min.css" type="text/css"/>
<link rel="stylesheet" href="{{ root_url }}/assets/bootplus/css/bootplus.css" type="text/css"/>
<link rel="stylesheet" href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" type="text/css">
